model: SALT2

GENMEAN_SALT2x1:     0.0
GENRANGE_SALT2x1:   -5.0  +2.0     # x1 (stretch) range
GENSIGMA_SALT2x1:    1.5   0.9 

GENMEAN_SALT2c:     0.0
GENRANGE_SALT2c:   -0.40   0.60     # color range
GENSIGMA_SALT2c:    0.08   0.14     # bifurcated sigmas

GENALPHA_SALT2:  0.135
GENBETA_SALT2:   3.19   # Salt2mu paper values


